<footer class="footer">
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-sm-9">
        <ul class="footer-links">
          <li style="margin-bottom: 10px;">NAVIGATION</li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      
      <div class="col-sm-3">
        <ul class="footer-links">
          <li style="margin-bottom: 10px;">CONTACT US</li>
          <li style="font-weight: 200;"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;+91 9090909090</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<a href="mailto:contact@caravelone27.com">contact@companyname.com</a></li>
        </ul>
      </div>
    </div>
    <hr style="border-top: 1px solid rgba(255,255,255,.1);margin: 10px 0px;">
    <p style="margin:0px;font-size: 12px;">Company Name. © 2017.</p>
  </div>
</footer>