@import 'variables';

.nav-color-bar{
	background-color: $primary-color;
	height: 5px;
}
.navbar-white{
	background-color: #FFFFFF;
	color: #FFFFFF;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	z-index: 1;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.1)

}
.navbar-brand{
	color: $primary-color;
	font-weight: 700;
	padding: 20px;
}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav>li>a{
	color: $light-text-color;
	font-weight: 600;
}
.nav>li>a:focus, .nav>li>a:hover {
	color: $dark-text-color;
    text-decoration: none;
    background-color: transparent;
}
